body {
  background: url('/images/viking1.jpg');
}
.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.modalContent {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid red;
  width: 200px;
}
